
.container(fxflex='', fxlayout='column', fxlayoutalign='center center')
    mat-card.card(fxlayout='column', fxlayoutalign='center center')
        mat-card-title(i18n='Notifies the user about the loading is in progress@@label_loading_data') Loading data...
        mat-progress-spinner(mode='indeterminate')
